body {            
    background-color: powderblue;
 }
 h1 {
    color:#66BFBF
    }

 h3 {
    color:#66BFBF 
       }
 hr {   
      background-color: whitesmoke;
      border-style: none;
      width: 10%;
      border-top-style: dotted;
      border-color: grey;
      border-width: 5px;
      }